:root {
    --main-color:#ff9500;
    --second-color:#000;
    --back-color:#fff;
    --footer-color: #111;
    --nav-color: #222;
    --pcScreen-navcolor: #2a2a2a;
}


@font-face{
    font-family: Myroboto;
    src: url(fonts/Roboto/Roboto-Thin.ttf);
    font-weight: 100;
}
@font-face{
    font-family: Myroboto;
    src: url(fonts/Roboto/Roboto-Regular.ttf);
    font-weight: 200;
} 
@font-face{
    font-family: Myroboto;
    src: url(fonts/Roboto/Roboto-Medium.ttf);
    font-weight: 300;
} 
@font-face{
    font-family: Myroboto;
    src: url(fonts/Roboto/Roboto-Bold.ttf);
    font-weight: 400;
}
@font-face{
    font-family: Myroboto;
    src: url(fonts/Roboto/Roboto-Black.ttf);
    font-weight: 500;
}

@font-face{
    font-family: GemunuLibre;
    src: url(fonts/GemunuLibre/GemunuLibre-VariableFont_wght.ttf);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    background-color: var(--footer-color);
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--second-color);
    color: var(--back-color);
}

main {
    padding: 1.5rem 2rem;
}

h1{
    color: var(--back-color);
    font-size: 25px;
    padding-top: 4px;
    padding-left: calc((100vw - 154px)/2);
}

a{
    text-decoration: none;
    color: var(--back-color);
}

.logo p{
    font-family: Myroboto;
    font-size: 12px;
    font-weight: 200;
    color: var(--main-color);
    padding-left: calc((100vw - 202px)/2);
}
header {
    border: solid #333;
    border-width: 0 0 2px 0;
}
nav{
    display: flex;
    height: 50px;
    font-family: GemunuLibre;
    font-weight: 1000;
    color: var(--back-color);
    background-color: var(--nav-color);
}

@media only screen and (max-width: 1160px) {
    .nav--li {
        display: block;
        padding: 10px 30px;
        width: 100%;
        font-size: 14px;
    }
    
    .nav--menu-boton {
        margin-top: 38px;
        font-size: 30px;
        text-align: left;
        padding: 8px 0 8px 17px;
    }
    
    .nav--responsive-ul {
        padding-top: 25px;
        display: block;
        position: absolute;
        width: 100%;
        height: 50px;
    }
    
    .nav--responsive-ul:hover > .nav--li-container {
        top: -11px;
    }
    
    .nav--li-container{
        padding-top: 70px;
        position: relative;
        left: calc(-100vw + 60px);
        top: -110vh;
        background-color: #333;
        height: calc(100vh);
        width: 75vw;
        transition: all .4s;
        z-index: 1;
        border: solid #aaa;
        border-width: 0 3px 0px 0;
    }
    
    .nav--contenedor-boton {
        margin-top: -62px;
        background-color: var(--nav-color);
        position: absolute;
        width: 100%;
        font-size: 25px;
        z-index: 100;
    }
    
    .nav--li a{
        color: var(--back-color);
        padding: 0 0 0 10px;
    }
    
    .logo{
        position: relative;
        background-color: var(--nav-color);
        z-index: 100;
        width: calc(100vw - 60px);
    }
    
    .responsive-menu{
        right: 0.8vw;
        position: relative;
        z-index: 1;
        width: 60px;
    }
}

footer{
    font-family: Myroboto;
    font-weight: 300;
    font-size: .9rem;
    color: var(--back-color);
    background-color: var(--footer-color);

    margin-top: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: solid #333;
    border-width: 1px 0 0 0;
}

.footer--copyright p{
    font-weight: 100;
	padding: 0 0 0.75rem;
}

.footer--neverForget{
    font-weight: 100;
	padding: 1rem 10% 1rem 10%;
}

.footer--link li{
    font-size: 1.2rem;
    padding: 0 0.5rem;
    display: inline-block;
}

.footer--link {
    padding-bottom: 0.75rem;
}

.fab {
    text-align: center;
    color: var(--back-color);
}

@media only screen and (min-width: 750px) {
    main{
    }    
}

@media only screen and (min-width: 1160px) {
    
    main{
        padding: 2rem 17vw ;
    }
    h1 {
        font-size: 2rem;
        padding: 10px 0;
        text-align: center;
    }

    .logo p{
        font-size: 18px;
        color: var(--main-color);
        padding: 1px 0 10px;
        text-align: center;
    }
    
    nav {
        height: unset;
        flex-wrap: wrap;
    }

    .logo{
        position: relative;
        background-color: var(--nav-color);
        z-index: 100;
        width: 100%;
        border: solid #555;
        border-width: 0 0px 1px 0;
    }

    .nav--li-container{
        margin: auto;
        text-align: center;
        font-size: 18px;
    }

    .responsive-menu{
        background-color: var(--pcScreen-navcolor);
        width: 100vw;
        border: solid #555;
        border-width: 0 0px 1px 0;
    }
    .nav--li{
        text-decoration: none;
        padding: 10px 1.5rem;
        margin: auto;
        display: inline-block;
    }

    .nav--li:hover{
        background-color: #3a3a3a;
    }
    .nav--contenedor-boton {
        display: none;
    }
}