:root {
    --main-color:#ff9500;
    --second-color:#000;
    --back-color:#fff;
    --footer-color: #111;
}


@font-face{
    font-family: Myroboto;
    src: url(fonts/Roboto/Roboto-Thin.ttf);
    font-weight: 100;
}
@font-face{
    font-family: Myroboto;
    src: url(fonts/Roboto/Roboto-Regular.ttf);
    font-weight: 200;
} 
@font-face{
    font-family: Myroboto;
    src: url(fonts/Roboto/Roboto-Medium.ttf);
    font-weight: 300;
} 
@font-face{
    font-family: Myroboto;
    src: url(fonts/Roboto/Roboto-Bold.ttf);
    font-weight: 400;
}
@font-face{
    font-family: Myroboto;
    src: url(fonts/Roboto/Roboto-Black.ttf);
    font-weight: 500;
}

@font-face{
    font-family: GemunuLibre;
    src: url(fonts/GemunuLibre/GemunuLibre-VariableFont_wght.ttf);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--second-color);
    color: var(--back-color);
}

main {
    padding: 1.5rem 2vw;
}


header {
    border: solid #333;
    border-width: 0 0 2px 0;
}
nav{
    display: flex;
    height: 50px;
    font-family: GemunuLibre;
    font-weight: 1000;
    color: var(--back-color);
    background-color: var(--footer-color);
}

.nav--li {
    display: block;
    padding: 10px 30px;
    width: 100%;
    font-size: 14px;
}

.nav--menu-boton {
    margin-top: 38px;
    font-size: 30px;
    text-align: left;
    padding: 8px 0 8px 17px;
}

.nav--responsive-ul {
    padding-top: 25px;
    display: block;
    position: absolute;
    width: 100%;
    height: 50px;
}

.nav--responsive-ul:hover > .nav--li-container {
    top: -11px;
}

.nav--li-container{
    padding-top: 70px;
    position: relative;
    left: calc(-100vw + 60px);
    top: -110vh;
    background-color: #282828;
    height: calc(100vh);
    width: 75vw;
    transition: all .4s;
    z-index: 1;
    border: solid #aaa;
    border-width: 0 3px 0px 0;
}

.nav--contenedor-boton {
    margin-top: -62px;
    background-color: var(--footer-color);
    position: absolute;
    width: 100%;
    font-size: 25px;
    z-index: 100;
}

.nav--li a{
    color: var(--back-color);
    text-decoration: none;
    padding: 0 0 0 10px;
}

.logo{
    position: relative;
    background-color: var(--footer-color);
    z-index: 100;
    width: calc(100vw - 60px);
}

.responsive-menu{
    right: 0.8vw;
    position: relative;
    z-index: 1;
    width: 60px;
}

footer{
    font-family: Myroboto;
    font-weight: 300;
    font-size: 1rem;
    color: var(--back-color);
    background-color: var(--footer-color);

    margin-top: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: solid #333;
    border-width: 1px 0 0 0;
}

.footer--copyright p{
    font-weight: 100;
	padding: 0 0 0.75rem;
}

.footer--neverForget{
    font-weight: 100;
	padding: 1rem 0 1rem 0;
}

.footer--link li{
    font-size: 1.2rem;
    padding: 0 0.5rem;
    display: inline-block;
}

.footer--link {
    padding-bottom: 0.75rem;
}

.fab {
    text-align: center;
    color: var(--back-color);
}